


<div class="alert alert-primary" role="alert">
  {{msg}}
</div>


<!------ Include the above in your HEAD tag ---------->

<div class="container login-container">
  <form style="margin-left: 40%;" action="/users/login" method="post" >
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Login</h3>
                    
                                   <input type="text" class="form-control " name="email" placeholder="Your Email *" value=""  required/>
                 <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Your Password *" value="" required />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit " style="margin-left: 5em;" value="Login"  />
                        </div>
                        <div class="form-group">
                            <a href="/users/confirm_password" style="margin-left: 5em;" class="btnForgetPwd">Forget Password?</a>
                             <a href="/users/otp_login" style="margin-left: 5em;" class="btnForgetPwd">login with mobile</a>
                        </div>
                   
                </div>
                </form>
                