<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/users/landingpage">Company</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/users/rules">Start project <span class="sr-only">(current)</span></a>
            </li>



        </ul>
        <form class="form-inline my-2 my-lg-0">

            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/users/logout"
                    style="color: black;">logout</a></button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
     {{#each data}}
    <tr>
    
      <td><img src="/images/{{this.img}}" alt="" style="width: 5rem;height: 5rem;"></td>
      <td>{{this.amount}}</td>
      <td>{{this.discription}}</td>
      <td>{{this.Date}}</td>
    </tr>
   {{/each}}
    
  
  </tbody>
</table>


        </div>
    </div>
</div>