<body class="bg-dark">

{{#if err}}

    <div class="alert alert-primary" role="alert">
        {{err}}
    </div>
{{/if}}
    <div class="container ">
        <div class="col-md-12 " style="margin-left: 36%;margin-top: 15%;">
            <form action="/verify_otp" method="POST">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">OTP verification</label>
                            <input type="text" name="otp" class="form-control form-control-sm" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">verify</button>

                    </div>

                </div>
                <a href="/resend_otp">resend otp</a>
            </form>
            

        </div>
    </div>


</body>