{{#if isLogged}}
<nav class="navbar navbar-expand-lg navbar-light bg-white">
	<a class="navbar-brand" href="/users/landingpage">Company</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/users/rules">Start project <span class="sr-only">(current)</span></a>
			</li>



		</ul>
		<form class="form-inline my-2 my-lg-0">

			<button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/users/logout"
					style="color: black;">logout</a></button>
		</form>
	</div>
</nav>

{{else}}

<nav class="navbar navbar-expand-lg navbar-light bg-white">
	<a class="navbar-brand" href="/users/landingpage">Company</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/users/rules">Start project <span class="sr-only">(current)</span></a>
			</li>



		</ul>
		<form class="form-inline my-2 my-lg-0">
			<a class="nav-link nav-item active " id="login-tag" href="/users/login">login<span
					class="sr-only">(current)</span></a>
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/users/signup"
					style="color: black;">SignUp</a></button>
		</form>
	</div>
</nav>

{{/if}}


<div class="row">
	<div class="col-md-12 ">
		<form action="/users/project_upload" method="post">
			<h3 class="mt-5" style="margin-left: 35%;">First, let’s get you set up.</h3>
			<p
				style="margin-left: 35%;  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
				Pick a project category to connect with a specific community. <br> can always update this later.</p>
			<select class="mt-5" id="country-dropdown" name="category">
				<option>Select your category</option>
				<option name="Arts" value="Arts">Arts</option>
				<option name="Tech" value="Tech">Tech</option>
				<option name="Craft" value="Craft">Craft</option>
				<option name="Fashion" value="Fashion">Fashion</option>
				<option name="Games" value="Games">Games</option>

			</select>


	</div>
</div>

<div class="row">

	<div class="col-md-12">
		<h3 class="mt-5" style="margin-left: 35%;">Give a name what you’ll be creating.</h3>
		<p
			style="margin-left: 35%;  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
			And don’t worry, you can edit this later, too.</p>

		<div class="form-group mt-5">

			<textarea class="form-control" name="discription" id="exampleFormControlTextarea1" rows="3"
				placeholder="Discribe about item" required></textarea>
		</div>

	</div>
</div>

<div class="row mt-5">
	<div class="col-md-12">
		<h3 class="mt-5" style="margin-left: 35%;">Finally, let’s confirm your eligibility.</h3>
		<p
			style="margin-left: 35%;  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
			Tell us where you’re based and confirm a few other details before <br> we proceed.
		</p>

		<select class="mt-5" id="country-dropdown" name="country">
			<option>Select Country</option>
			<option value="AF">Afghanistan</option>
			<option value="AX">Åland Islands</option>
			<option value="AL">Albania</option>
			<option value="DZ">Algeria</option>
			<option value="AS">American Samoa</option>
			<option value="AD">Andorra</option>
			<option value="AO">Angola</option>
			<option value="HM">Heard Island and McDonald Islands</option>
			<option value="VA">Holy See (Vatican City State)</option>
			<option value="HN">Honduras</option>
			<option value="AG">Antigua and Barbuda</option>
			<option value="AR">Argentina</option>
			<option value="AM">Armenia</option>
			<option value="AW">Aruba</option>
			<option value="AU">Australia</option>
			<option value="HM">Heard Island and McDonald Islands</option>
			<option value="VA">Holy See (Vatican City State)</option>
			<option value="HN">Honduras</option>
			<option value="AT">Austria</option>
			<option value="AZ">Azerbaijan</option>
			<option value="BS">Bahamas</option>
			<option value="BH">Bahrain</option>
			<option value="BD">Bangladesh</option>
			<option value="BB">Barbados</option>
			<option value="BY">Belarus</option>
			<option value="BE">Belgium</option>
			<option value="BZ">Belize</option>
			<option value="BJ">Benin</option>
			<option value="BM">Bermuda</option>
			<option value="BT">Bhutan</option>
			<option value="BO">Bolivia, Plurinational State of</option>
			<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
			<option value="BA">Bosnia and Herzegovina</option>
			<option value="BW">Botswana</option>
			<option value="BV">Bouvet Island</option>
			<option value="BR">Brazil</option>
			<option value="IO">British Indian Ocean Territory</option>
			<option value="BN">Brunei Darussalam</option>
			<option value="BG">Bulgaria</option>
			<option value="BF">Burkina Faso</option>
			<option value="BI">Burundi</option>
			<option value="KH">Cambodia</option>
			<option value="CM">Cameroon</option>
			<option value="CA">Canada</option>
			<option value="CV">Cape Verde</option>
			<option value="KY">Cayman Islands</option>
			<option value="CF">Central African Republic</option>
			<option value="TD">Chad</option>
			<option value="CL">Chile</option>
			<option value="CN">China</option>
			<option value="CX">Christmas Island</option>
			<option value="CC">Cocos (Keeling) Islands</option>
			<option value="CO">Colombia</option>
			<option value="KM">Comoros</option>
			<option value="CG">Congo</option>
			<option value="CD">Congo, the Democratic Republic of the</option>
			<option value="CK">Cook Islands</option>
			<option value="CR">Costa Rica</option>
			<option value="CI">Côte d'Ivoire</option>
			<option value="HR">Croatia</option>
			<option value="CU">Cuba</option>
			<option value="CW">Curaçao</option>
			<option value="CY">Cyprus</option>
			<option value="CZ">Czech Republic</option>
			<option value="DK">Denmark</option>
			<option value="DJ">Djibouti</option>
			<option value="DM">Dominica</option>
			<option value="DO">Dominican Republic</option>
			<option value="EC">Ecuador</option>
			<option value="EG">Egypt</option>
			<option value="SV">El Salvador</option>
			<option value="GQ">Equatorial Guinea</option>
			<option value="ER">Eritrea</option>
			<option value="EE">Estonia</option>
			<option value="ET">Ethiopia</option>
			<option value="FK">Falkland Islands (Malvinas)</option>
			<option value="FO">Faroe Islands</option>
			<option value="FJ">Fiji</option>
			<option value="FI">Finland</option>
			<option value="FR">France</option>
			<option value="GF">French Guiana</option>
			<option value="PF">French Polynesia</option>
			<option value="TF">French Southern Territories</option>
			<option value="GA">Gabon</option>
			<option value="GM">Gambia</option>
			<option value="GE">Georgia</option>
			<option value="DE">Germany</option>
			<option value="GH">Ghana</option>
			<option value="GI">Gibraltar</option>
			<option value="GR">Greece</option>
			<option value="GL">Greenland</option>
			<option value="GD">Grenada</option>
			<option value="GP">Guadeloupe</option>
			<option value="GU">Guam</option>
			<option value="GT">Guatemala</option>
			<option value="GG">Guernsey</option>
			<option value="GN">Guinea</option>
			<option value="GW">Guinea-Bissau</option>
			<option value="GY">Guyana</option>
			<option value="HT">Haiti</option>
			<option value="HM">Heard Island and McDonald Islands</option>
			<option value="VA">Holy See (Vatican City State)</option>
			<option value="HN">Honduras</option>
			<option value="HK">Hong Kong</option>
			<option value="HU">Hungary</option>
			<option value="IS">Iceland</option>
			<option value="IN">India</option>
			<option value="ID">Indonesia</option>
			<option value="IR">Iran, Islamic Republic of</option>
			<option value="IQ">Iraq</option>
			<option value="IE">Ireland</option>
			<option value="IM">Isle of Man</option>
			<option value="IL">Israel</option>
			<option value="IT">Italy</option>
			<option value="JM">Jamaica</option>
			<option value="JP">Japan</option>
			<option value="JE">Jersey</option>
			<option value="JO">Jordan</option>
			<option value="KZ">Kazakhstan</option>
			<option value="KE">Kenya</option>
			<option value="KI">Kiribati</option>
			<option value="KP">Korea, Democratic People's Republic of</option>
			<option value="KR">Korea, Republic of</option>
			<option value="KW">Kuwait</option>
			<option value="KG">Kyrgyzstan</option>
			<option value="LA">Lao People's Democratic Republic</option>
			<option value="LV">Latvia</option>
			<option value="LB">Lebanon</option>
			<option value="LS">Lesotho</option>
			<option value="LR">Liberia</option>
			<option value="LY">Libya</option>
			<option value="LI">Liechtenstein</option>
			<option value="LT">Lithuania</option>
			<option value="LU">Luxembourg</option>
			<option value="MO">Macao</option>
			<option value="MK">Macedonia, the former Yugoslav Republic of</option>
			<option value="MG">Madagascar</option>
			<option value="MW">Malawi</option>
			<option value="MY">Malaysia</option>
			<option value="MV">Maldives</option>
			<option value="ML">Mali</option>
			<option value="MT">Malta</option>
			<option value="MH">Marshall Islands</option>
			<option value="MQ">Martinique</option>
			<option value="MR">Mauritania</option>
			<option value="MU">Mauritius</option>
			<option value="YT">Mayotte</option>
			<option value="MX">Mexico</option>
			<option value="FM">Micronesia, Federated States of</option>
			<option value="MD">Moldova, Republic of</option>
			<option value="MC">Monaco</option>
			<option value="MN">Mongolia</option>
			<option value="ME">Montenegro</option>
			<option value="MS">Montserrat</option>
			<option value="MA">Morocco</option>
			<option value="MZ">Mozambique</option>
			<option value="MM">Myanmar</option>
			<option value="NA">Namibia</option>
			<option value="NR">Nauru</option>
			<option value="NP">Nepal</option>
			<option value="NL">Netherlands</option>
			<option value="NC">New Caledonia</option>
			<option value="NZ">New Zealand</option>
			<option value="NI">Nicaragua</option>
			<option value="NE">Niger</option>
			<option value="NG">Nigeria</option>
			<option value="NU">Niue</option>
			<option value="NF">Norfolk Island</option>
			<option value="MP">Northern Mariana Islands</option>
			<option value="NO">Norway</option>
			<option value="OM">Oman</option>
			<option value="PK">Pakistan</option>
			<option value="PW">Palau</option>
			<option value="PS">Palestinian Territory, Occupied</option>
			<option value="PA">Panama</option>
			<option value="PG">Papua New Guinea</option>
			<option value="PY">Paraguay</option>
			<option value="PE">Peru</option>
			<option value="PH">Philippines</option>
			<option value="PN">Pitcairn</option>
			<option value="PL">Poland</option>
			<option value="PT">Portugal</option>
			<option value="PR">Puerto Rico</option>
			<option value="QA">Qatar</option>
			<option value="RE">Réunion</option>
			<option value="RO">Romania</option>
			<option value="RU">Russian Federation</option>
			<option value="RW">Rwanda</option>
			<option value="BL">Saint Barthélemy</option>
			<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
			<option value="KN">Saint Kitts and Nevis</option>
			<option value="LC">Saint Lucia</option>
			<option value="MF">Saint Martin (French part)</option>
			<option value="PM">Saint Pierre and Miquelon</option>
			<option value="VC">Saint Vincent and the Grenadines</option>
			<option value="WS">Samoa</option>
			<option value="SM">San Marino</option>
			<option value="ST">Sao Tome and Principe</option>
			<option value="SA">Saudi Arabia</option>
			<option value="SN">Senegal</option>
			<option value="RS">Serbia</option>
			<option value="SC">Seychelles</option>
			<option value="SL">Sierra Leone</option>
			<option value="SG">Singapore</option>
			<option value="SX">Sint Maarten (Dutch part)</option>
			<option value="SK">Slovakia</option>
			<option value="SI">Slovenia</option>
			<option value="SB">Solomon Islands</option>
			<option value="SO">Somalia</option>
			<option value="ZA">South Africa</option>
			<option value="GS">South Georgia and the South Sandwich Islands</option>
			<option value="SS">South Sudan</option>
			<option value="ES">Spain</option>
			<option value="LK">Sri Lanka</option>
			<option value="SD">Sudan</option>
			<option value="SR">Suriname</option>
			<option value="SJ">Svalbard and Jan Mayen</option>
			<option value="SZ">Swaziland</option>
			<option value="SE">Sweden</option>
			<option value="CH">Switzerland</option>
			<option value="SY">Syrian Arab Republic</option>
			<option value="TW">Taiwan, Province of China</option>
			<option value="TJ">Tajikistan</option>
			<option value="TZ">Tanzania, United Republic of</option>
			<option value="TH">Thailand</option>
			<option value="TL">Timor-Leste</option>
			<option value="TG">Togo</option>
			<option value="TK">Tokelau</option>
			<option value="TO">Tonga</option>
			<option value="TT">Trinidad and Tobago</option>
			<option value="TN">Tunisia</option>
			<option value="TR">Turkey</option>
			<option value="TM">Turkmenistan</option>
			<option value="TC">Turks and Caicos Islands</option>
			<option value="TV">Tuvalu</option>
			<option value="UG">Uganda</option>
			<option value="UA">Ukraine</option>
			<option value="AE">United Arab Emirates</option>
			<option value="GB">United Kingdom</option>
			<option value="US">United States</option>
			<option value="UM">United States Minor Outlying Islands</option>
			<option value="UY">Uruguay</option>
			<option value="UZ">Uzbekistan</option>
			<option value="VU">Vanuatu</option>
			<option value="VE">Venezuela, Bolivarian Republic of</option>
			<option value="VN">Viet Nam</option>
			<option value="VG">Virgin Islands, British</option>
			<option value="VI">Virgin Islands, U.S.</option>
			<option value="WF">Wallis and Futuna</option>
			<option value="EH">Western Sahara</option>
			<option value="YE">Yemen</option>
			<option value="ZM">Zambia</option>
			<option value="ZW">Zimbabwe</option>
		</select>



		<div class="col-md-6 ">
			<div class="card" style="margin:50px 0 ;margin-left: 36%;">
				<!-- Default panel contents -->

				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						Iam at least 18 years old
						<label class="switch ">
							<input type="checkbox" class="default" name="checkbox_1">
							<span class="slider round"></span>
						</label>
					</li>
					<li class="list-group-item">
						I have debit card or credit card
						<label class="switch ">
							<input type="checkbox" class="primary" name="checkbox_2">
							<span class="slider round"></span>
						</label>
					</li>

				</ul>
			</div>
		</div>

	</div>

</div>

<div class="row">

	<div class="col-md-8">
		<h3 class="mt-5" style="margin-left: 35%;">let’s decide price</h3>
		<p
			style="margin-left: 35%;  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
			And don’t worry, you can edit this later, too.</p>
		<div class="input-group mb-3" style="margin-left: 25%;">
			<div class="input-group-prepend">
				<span class="input-group-text">$</span>
			</div>
			<input type="text" class="form-control" name="price" aria-label="Amount (to the nearest dollar)" required>
			<div class="input-group-append">
				<span class="input-group-text">.00</span>
			</div>
		</div>

	</div>
</div>

<div class="row">

	<div class="col-md-8 ">
		<h3 class="mt-5" style="margin-left: 35%;"> let’s decide Target</h3>
		<p
			style="margin-left: 35%;  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
			And don’t worry, you can edit this later, too.</p>
		<div class="input-group mb-3" style="margin-left: 25%;">
			<div class="input-group-prepend">
				<span class="input-group-text">$</span>
			</div>
			<input type="text" class="form-control" name="target" aria-label="Amount (to the nearest dollar)" required>
			<div class="input-group-append">
				<span class="input-group-text">.00</span>
			</div>
		</div>

	</div>
</div>

<div class="row">


	<div class="col-md-12">
		<h3 class="mt-5" style="margin-left: 35%;"> let’s input image</h3>
		<div class="alert alert-warning" id="image-warning" style="display: none;" role="alert">
			dsffsd
		</div>
		<p
			style="margin-left: 35%;  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
			Choose an image</p>



		<div class="form-group" style="margin-left:13em;">



			<main class="page">

				<!-- input file -->
				<div class="box">
					<input type="file" id="file-input" name="image">
				</div>
				<!-- leftbox -->
				<div class="box-2">
					<div class="result"></div>
				</div>
				<!--rightbox-->
				<div id="image" class="box-2 img-result hide">
					<!-- result of crop -->
					<img class="cropped" id="cropped" src="" alt="">
				</div>
				<!-- input file -->
				<div class="box">
					<div class="options hide">

						<input type="hidden" class="img-w" value="300" min="100" max="1200" />
					</div>
					<!-- save btn -->
					<button class="btn save hide">Save</button>
					<!-- download btn -->
					<button type="button" id="btn">upload</button>
				</div>
			</main>



		</div>


	</div>
</div>



<div class="progress">
	<div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
		aria-valuemax="100" style="width: 0%;">

	</div>
</div>
<div class="row">

	<div class="col-md-12">


	</div>
</div>



<div class="row">

	<div class="col-md-10">
		<div class="form-group" style="margin-left: 25%;">

			<h3 class="mt-5" style="margin-left: 23%;"> let’s give description</h3>
			<textarea class="form-control" name="details" id="exampleFormControlTextarea3" rows="7"></textarea>
		</div>
	</div>
</div>
<input type="hidden" name="imageData" id="imageBaseData" value="" />
<button type="submit" class="btn btn-success mt-5" style="margin-left: 42%;">Next</button>
</form>





<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>

<script>


	$(function () {

		var showInfo = function (message) {
			$('#progress').hide();


		};

		$("#btn").on('mouseover', () => {
			setImageData();
		})

		$('#btn').on('click', function (evt) {
			evt.preventDefault();
			var imageField = document.getElementById("image");
			if (imageField.src === "") {
				var imageWaring = document.getElementById("image-warning");
				imageWaring.innerText = "Select an image";
				imageWaring.style.display = "block"
			} else {

				$('#progress').show();
				var formData = new FormData();
				var file = document.getElementById('file-input').files[0];
				formData.append('file-input', file);

				var xhr = new XMLHttpRequest();

				xhr.open('post', '/users/project_upload', true);

				xhr.upload.onprogress = function (e) {
					if (e.lengthComputable) {
						var percentage = (e.loaded / e.total) * 100;
						$('#progressBar').css('width', percentage + '%');
					}
				};



				xhr.onload = function () {
					showInfo(this.statusText);
				};

				xhr.send(formData);
			}

		});

	});

	let result = document.querySelector('.result'),
		img_result = document.querySelector('.img-result'),
		img_w = document.querySelector('.img-w'),
		img_h = document.querySelector('.img-h'),
		options = document.querySelector('.options'),
		save = document.querySelector('.save'),
		cropped = document.querySelector('.cropped'),
		dwn = document.querySelector('.download'),
		upload = document.querySelector('#file-input'),
		cropper = '';


	// on change show image with crop options
	upload.addEventListener('change', (e) => {
		if (e.target.files.length) {
			// start file reader
			const reader = new FileReader();
			reader.onload = (e) => {
				if (e.target.result) {
					// create new image
					let img = document.createElement('img');
					img.id = 'image';
					img.src = e.target.result
					// clean result before
					result.innerHTML = '';
					// append new image
					result.appendChild(img);
					// show save btn and options
					save.classList.remove('hide');
					options.classList.remove('hide');
					// init cropper
					cropper = new Cropper(img);
				}
			};
			reader.readAsDataURL(e.target.files[0]);
		}
	});

	// save on click
	save.addEventListener('click', (e) => {
		e.preventDefault();
		// get result to data uri
		let imgSrc = cropper.getCroppedCanvas({
			width: img_w.value // input value
		}).toDataURL();
		// remove hide class of img
		cropped.classList.remove('hide');
		img_result.classList.remove('hide');
		// show image cropped
		cropped.src = imgSrc;
		dwn.classList.remove('hide');
		dwn.download = 'imagename.png';
		dwn.setAttribute('href', imgSrc);
	});




</script>

<script>
	function setImageData() {

		var imageElement = document.getElementById("cropped");
		var imageData = imageElement.src;
		var hiddenElement = document.getElementById("imageBaseData");
		hiddenElement.value = imageData;
		console.log("data set")
	}
</script>