a{
    color: black;
}
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #c1a5a5;
  }
  
  a {
    color: black;
  }
  
  #login-tag{
    color: black;
  }